<div class="chat-detail">
  <div class="container">
    <div class="row" style="padding:5px;">
      <h5 class="mx-auto col-sm-12 col-lg-6 to-user">~<span class="text-size"><%= @user.name %></span>さん~</h5>
    </div>
    <div class="row">
      <div class="col-sm-12 col-lg-6 chats-row">
        <table class="table" id="ajax-message">
          <% @chats.each do |chat| %>
            <% if chat.user_id == current_user.id %>
              <%= render 'message', chat: chat %>
            <% else %>
              <tbody style="border:none;">
                <tr style="border:none">
                  <th class="text-align-center" style="border:none">
                    <%= attachment_image_tag chat.user, :profile_image, :fill, 60, 60, fallback: "no-image.jpg", class: "mt-3 rounded-circle" %><br>
                    <p><span class="user-name"><%= chat.user.name %></span>
                    <%= chat.created_at.strftime('%Y/%m/%d %H:%M:%S') %></p>
                    <p class="message" style="text-align:left border:none;"><%= chat.message %></p>
                  </th>
                </tr>
              </tbody>
            <% end %>
          <% end %>
        </table>
        <hr>
        <div id="chat-form" class="text-right chat_form form-group">
          <%= render 'chats/form', chat: @chat %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
// 遷移後に最新のメッセージ（最下部）に移動するように設定
  $('.chats-row').scrollTop($('.chats-row')[0].scrollHeight);
</script>